<mat-card class="landing-container">
    <mat-card-header class="header-container">
        <mat-card-title>Inserção de Pessoas</mat-card-title>
        <mat-card-subtitle>Informe os dados e clique no botão para inserir.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="form-container">
        <div>
            <form [formGroup]="contactForm" id="create-person">
                <div class="name-surname-container">
                    <mat-form-field appearance="outline" class="input-name">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Fulano" formControlName="name">
                        <mat-icon matSuffix>recent_actors</mat-icon>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="outline" class="input-surname">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput placeholder="Silva" formControlName="surname">
                        <mat-icon matSuffix>recent_actors</mat-icon>
                    </mat-form-field>
                </div>

                <br>

                <div class="email-cpf-container">
                    <mat-form-field appearance="outline" class="input-email">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="exemplo@exemplo.com" formControlName="email">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error>Digite um e-mail <strong>válido</strong>!</mat-error>
                    </mat-form-field>
        
                    <br>
        
                    <mat-form-field appearance="outline" class="input-cpf">
                        <mat-label>CPF</mat-label>
                        <input matInput type="number" placeholder="78912374499" formControlName="cpf">
                        <mat-icon matSuffix>confirmation_number</mat-icon>
                    </mat-form-field>
                </div>

                <br>

                <div class="password-container">
                    <mat-form-field appearance="outline" class="input-password">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder Senha'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <br>

                <div class="button-container">
                    <button mat-raised-button type="submit" form="create-person" [disabled]="!contactForm.valid" color="primary" (click)="onSubmit()">Adicionar</button>
                </div>
             </form>
        </div>
    </mat-card-content>
</mat-card>

<!--Se o length do array que guarda meus elementos do form for diferente de 0, exibir-->
<table *ngIf="arrN.length !== 0" class="rendered-table">
    <tr class="table-header">
        <th>Nome</th>
        <th>Sobrenome</th> 
        <th>E-mail</th>
        <th>CPF</th>
        <th>Operações</th>
    </tr>
    <tr *ngFor="let element of arrN" class="table-content">
        <td>{{element.name}}</td>
        <td>{{element.surname}}</td>
        <td>{{element.email}}</td>
        <td>{{element.cpf}}</td>
        <td>
            <button mat-raised-button color="primary" type="button" class="table-option" (click)="deleteEntry(element)">Excluir</button>
            <button mat-raised-button color="primary" type="button" class="table-option" (click)="updateEntry(element)">Editar</button>
        </td>
</table>

<p *ngIf="arrN.length === 0" style="color: red">Nenhum registro cadastrado!</p>
