@import "~angular-fre-tema/fre-tema.scss";
@import '~material-design-icons/iconfont/material-icons.css';

body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #292a1d;
}